apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
spec:
  template:
    spec:
      containers:
        - name: manager
          env:
            - name: SPEAKER_IMAGE
              value: "quay.io/metallb/speaker:main"
            - name: CONTROLLER_IMAGE
              value: "quay.io/metallb/controller:main"
            - name: ENABLE_WEBHOOK
              value: "true"
            - name: METALLB_BGP_TYPE
              value: "native"
            - name: FRR_IMAGE
              value: "frrouting/frr:v7.5.1"
            - name: KUBE_RBAC_PROXY_IMAGE
              value: "quay.io/brancz/kube-rbac-proxy:v0.11.0"
            - name: DEPLOY_KUBE_RBAC_PROXIES
              value: "false"
            - name: DEPLOY_PODMONITORS
              value: "true"
