apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
spec:
  template:
    spec:
      containers:
        - name: manager
          env:
            - name: SPEAKER_IMAGE
              value: "quay.io/metallb/speaker:main"
            - name: CONTROLLER_IMAGE
              value: "quay.io/metallb/controller:main"
            - name: METALLB_BGP_TYPE
              value: "native"
            - name: FRR_IMAGE
              value: "quay.io/frrouting/frr:9.1.0"
            - name: KUBE_RBAC_PROXY_IMAGE
              value: "quay.io/brancz/kube-rbac-proxy:v0.11.0"
            - name: DEPLOY_KUBE_RBAC_PROXIES
              value: "false"
            - name: FRRK8S_IMAGE
              value: "quay.io/metallb/frr-k8s:v0.0.16"
            - name: FRRK8S_EXTERNAL_NAMESPACE
              value: "frr-k8s-system"
