name: "collectlogs"
description: "Collect and upload the logs"

inputs:
  artifact-name:
    description: "the name of artifacts to store"
    required: true

runs:
  using: "composite"
  steps:
    - name: Archive E2E Tests logs
      uses: actions/upload-artifact@v2
      with:
        name: ${{ inputs.artifact-name }}-e2e-logs
        path: /tmp/test_e2e_logs/

    - name: Export kind logs
      shell: bash
      run: |
        kind export logs /tmp/kind_logs

    - name: Change permissions for kind logs
      shell: bash
      run: |
          sudo chmod -R o+r /tmp/kind_logs

    - name: Archive kind logs
      uses: actions/upload-artifact@v2
      with:
        name:  ${{ inputs.artifact-name }}-kind-logs
        path: /tmp/kind_logs
