# These resources constitute the fully configured set of manifests
# used to generate the 'manifests/' directory in a bundle.
resources:
- bases/metallb-operator.clusterserviceversion.yaml
- ../default
- ../metallb_rbac
- ../samples
- ../scorecard
